{% extends 'adminsite/base_admin.html' %}

{% block title %} Login Page For admin only {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h1>เข้าสู่ระบบ</h1>
  <form method="post" action="{% url 'admin_login' %}">
    {% csrf_token %}
    <table class="table">
      <tr>
        <td>ชื่อผู้ใช้งาน</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>รหัสผ่าน</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="เข้าสู่ระบบ" class="btn btn-success"/>
  </form>
{% endblock %}