{% extends 'adminsite/base_admin.html' %}

{% block title %} Admin Festival Setting Page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<h2>ตั้งค่า ช่วงเวลาเทศกาล</h2>

<form method="post">

    {% csrf_token %} 

    {{ form | crispy }} 
    <input type="submit" value="บันทึก" class="btn btn-success"> 

</form>

{% if form.fes_name.value is not None %}

<center/>
<a href="{% url 'setting_festival_delete' pk=object.id %}">
    Delete "{{ form.fes_name.value }}"
</a>

{% endif %}
{% endblock %}